.posts{
  li{
    margin-bottom: 40px;

    box-shadow: 0 50px 50px -50px rgba(0,0,0,.2);

    div{
      padding: 15px 30px;

      background-color: $color-white;

      .post-category{
        margin-bottom: 10px;
        display: inline-block;

        text-decoration: none;
      }

      .post-title{
        display: block;
      }
    }

    div:first-child{
      padding-bottom: 200px;
    }
  }
}

.posts li.post--featured{
  @include flexbox;

  &:nth-child(1){
    figure{
      width: 70%;

      img{
        width: 100%;
      }
    }

    > div{
      width: 30%;
    }
  }

  &:nth-child(2),
  &:nth-child(3){
    flex-direction: column;
  }
}