a{
  font-size: 1em;
  color: $color-grey-text;
  text-decoration: none;
  cursor: pointer;

  transition: .2s;

  &:hover,
  &:focus{
    color: $color-black;
  }
}

// Links in articles
article a{
  border-bottom: thin solid $color-grey-text;

  &:hover,
  &:focus{
    border-color: $color-black;
  }
}

// Navigation in header
nav{
  a{
    @include font-medium{
      color: $color-grey-text;
      font-size: 14px;
      letter-spacing: 0.4px;
      text-decoration: none;
      text-transform: uppercase;
    }

    padding: 20px 0;
    margin: 0 15px;
    display: block;

    transition: .35s;

    &:after{
      @include hide(.35s);

      content: "";

      bottom: 0;
      left: 0;
      position: absolute;

      width: 100%;
      height: 3px;

      background-color: $color-black;
    }

    &:hover,
    &:focus{
      color: $color-black;

      &:after{
        @include show(.35s);
      }
    }
  }
}

nav ul li{
  &.current-menu-parent,
  &.current-menu-item{
    a{
      color: $color-black;

      &:after{
        @include show(.35s);
      }
    }
  }
}