.arrow{
  width: 30px;
  height: 30px;

  cursor: pointer;
  border-right: 2px solid $color-black;
  border-bottom: 2px solid $color-black;

  transform: rotate(45deg);

  // Default direction is down
  &.arrow-right{
    transform: rotate(-45deg);
  }

  &.arrow-left{
    transform: rotate(135deg);
  }

  &.arrow-up{
    transform: rotate(225deg);
  }
}