article{
    p{
        line-height: 1.8;
        font-size: 1.125em; //18px
    }

    header{
        padding-top: 30px;
        padding-bottom: 20px;

        small{
            @include font-regular{
                color: $color-grey-text-light;
            }
        }

        h1{
            margin: 10px 0;
        }
    }

    footer{
        padding-top: 60px;
        padding-bottom: 30px;

        text-align: center;

        p{
            @include font-medium;

            margin-bottom: 15px;
        }

        .btn{
            width: 170px;
            margin: 0 10px;
        }
    }
}