.list{
    &--inline{
        > *{
            display: inline-block;
            margin-right: 10px;

            &:last-child{
                margin-right: 0;
            }
        }
    }

    &--posts{
        li{
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid $color-grey;

            &:last-child{
                border-bottom: none;
            }

            .media__image{
                width: 270px;
            }

            .media__body{
                .post-data{
                    margin-top: 30px;
                }
            }
        }
    }
}