nav ul{
  display: inline;

  li{
    display: inline-block;
    padding-right: 30px;

    &:first-child{
      padding-right: 15px;
      margin-right: 15px;

      &:after{
        content: "";

        top: 0;
        right: 0;
        position: absolute;

        width: 1px;
        height: 100%;

        background-color: $grey;
      }
    }

    &:last-child{
      padding-right: 0;
    }

    &.is-active{
      a{
        color: $black;
      }
    }
  }
}

// Current item
nav ul{
  li.current{
    text-decoration: underline;
  }
}