@mixin flexbox(){
    -js-display: flex;
    display: flex;
    @content;
}

// Hiding and showing objects
@mixin hide( $time ){
  opacity: 0;
  visibility: hidden;

  transition: $time;
}

@mixin show( $time ){
  opacity: 1;
  visibility: visible;

  transition: $time;
}